In [4]:
# 91. Positional Argument
def net_sal(basic, allowance, deduction):
    print("Basic", basic, "\tAllowance:", allowance, '\tDeduction:', deduction)
    net = basic + allowance - deduction
    return net
salary = net_sal(30000, 5000, 1500)
print("Salary:", salary)

Basic 30000 	Allowance: 5000 	Deduction: 1500
Salary: 33500

In [5]:
# 92. Keyword Argument
def net_sal(basic, allowance, deduction):
    print("Basic", basic, "\tAllowance:", allowance, '\tDeduction:', deduction)
    net = basic + allowance - deduction
    return net
Salary = net_sal(basic=45000, allowance=2000, deduction=750)
print("Salary:", Salary)

Basic 45000 	Allowance: 2000 	Deduction: 750
Salary: 46250

In [6]:
# 93. Default Argument
def addn(a, b=5, c=3): 
    return a+b+c
print(addn(11,12,13))   # a=11, b=12, c=13
print(addn(10,20))   # a=10, b=20, c=3 
print(addn(10))   # a=10, b=5, c=3
print(addn(a=33, b=44, c=55))

36
33
18
132

In [9]:
# 94. Function to add item to list 
def additem(item, L=[]): 
    L.append(item)
    return L
L1 = [1,2,3,4]
additem(5, L1)

[1, 2, 3, 4, 5]

In [12]:
# 95. Mixed Arguments 
def add(a,b,/,c,d,e,f): 
    print(a,b,c,d,e,f) 
    return a+b+c+d+e+f
print(add(d=2, e=5, b=7, c=3, f=4, a=8))
 print(add(2, 5, e=8, f=3, c=9, d=4))

2 5 4 8 3 9
31