In [1]:
# 71. Punctuation 
s = input("Enter a string:")
S = ''
punct = '''!@#$%^&*()_+-=[]{}|;'':""~`,./<>?'''
for x in s: 
    if x not in punct: 
        S += x
print("Modified string:", S)

Enter a string: abc@#rt$%^123

Modified string: abcrt123

In [4]:
# 72. Nested list 
a = [[1,2,3], [4,5,6], [7,8,9]]
b = [[9,8,7], [6,5,4], [3,2,1]]
c = []
for x in range(len(a)):
    d = []
    for y in range(len(a[0])):
        d.append(a[x][y] + b[x][y])
    c.append(d)
print(c)

[[10, 10, 10], [10, 10, 10], [10, 10, 10]]

In [6]:
# 73. Calculating salary
work_hours = [int(x) for x in input("Enter weekly working hours:").split()]
hourly_wages = int(input("Enter hourly wages"))
weekly_working_hours = sum(work_hours)
salary = hourly_wages * weekly_working_hours
print("Salary:", salary)

Enter weekly working hours: 10 11 10 5 8 12 11
Enter hourly wages 500

Salary: 33500

In [8]:
# 74. Removing Duplicates
l = [3,6,3,4,3,2,5,4,7,5,3,6,5,4,8,5,6,2,5]
L = []
for t in l: 
    if t not in L:
        L.append(t)
print(sorted(L))

[2, 3, 4, 5, 6, 7, 8]

In [11]:
# 75. Deleting duplicates 
l = [3,6,3,4,3,2,5,4,7,5,3,6,5,4,8,5,6,2,5]
for s in range(len(l)-1, -1, -1): 
    if l[s] in l[:s]: 
        l.pop(s)
print(sorted(l))

[2, 3, 4, 5, 6, 7, 8]