In [12]:
from collections import namedtuple
n = int(input())
fields = input().split()

total_mks = 0

for s in range(n): 
    student = namedtuple('s', fields)
    MARKS, CLASS, NAME, ID = input().split()
    s = student(MARKS, CLASS, NAME, ID)
    total_mks += int(s.MARKS)

print('{:.2f}'.format(total_mks / n))

 5
 ID MARKS NAME CLASS
 1          97         Raymond    7
 2          50         Steven     4
 3          91         Adrian     9
 4          72         Stewart    5
 5          80         Peter      6

78.00